gunicorn
astunparse
Flask
h5py
httplib2
keras
Keras-Preprocessing
numpy
opencv-python
requests
scikit-learn
scipy
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
Werkzeug
